@model eUI.Model.ViewModel.PaperListViewModel

                        @foreach (var item in Model.paperInfoList.rows)
                        {
                            <li>
                                <div class="imgbox">
                                    <a href="/paper/Detail?id=@item.Id" title="@item.Title">
                                        <img class="thumbs" src="@Url.Content("~/TemImg/" + @item.imgA )" width=" 232" height="186" alt="@item.Title">
                                    </a>
                                </div>
                                <div class="infobox">
                                    <p class="vtitle">
                                        <a href="/paper/Detail?id=@item.Id" title="@item.Title">
                                            @item.Title
                                        </a>
                                    </p>
                                    <div class="info clearfix">
                                        <span class="hpw_love">价格：</span>
                                        <span class="hpw_pl"> <em class="tm-yen">&#165;</em>@item.Price</span>
                                    </div>
                                    <div class="userinfo">

                                        <span class="badge-pat">购买数<span class="badge">@item.BuyCount</span>阅读数<span class="badge">@item.ReadCount</span></span>

                                    </div>
                                </div>
                            </li>
                        }