@model eUI.Model.ViewModel.PaperInit
@{

    int countOne = 0;
    int countTwo = 0;
    int countThree = 0;
    int countFour = 0;
    int countFive = 0;
    int countSix = 0;
    int countSeven = 0;
    int countEight = 0;
    string log = ViewData["login"].ToString();
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>论文下载</title>

    <link href="~/Content/themes/Paper/css/paper01.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/paper.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/paper-main.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/qqfixd.css" rel="stylesheet" />


    <script src="~/Content/themes/Paper/js/jquery.min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.flip.min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.core.js"></script>
    <style>
        .socialwrapper .modal-content {
            padding: 10px 20px 20px 20px;
            background-color: #f9f9f9;
            border: 0;
            border-radius: 0;
            box-shadow: 0 0 0;
        }
    </style>

    <!--[if lt IE 9]>
        <script type="text/javascript">
            alert('系统检测到您使用的浏览器为IE浏览器，并且版本过低，本站已经不再支持IE8.0及以下版本的浏览器。请您使用其其它浏览器，本站建议您使用的浏览器有：360极速浏览器、谷歌浏览器、火狐浏览器等');
        </script>
    <![endif]-->
</head>
<body data-website="@Url.Content("~/")" data-loguser="@log">
    <div class="header">
        <div class="nav clearfix">
            <a class="logo" href="/paper">
                @foreach (var item in ViewBag.ImageModel)
                {
                    if (item.ImagePosition == "4")
                    {
                        <img src="@Url.Content("~/ImageManage/" + item.ImageURL)" alt="@item.ImageName" style="width:112px;height:64px">
                    }
                }

            </a>
            <div class="nav-list">
                <ul>
                    @foreach (var item in Model.menuModelList.Where(a => a.Type == 0).Take(6))
                    {

                        switch (item.OrderIndex.ToString())
                        {
                            case "1":
                                <li><a href="/paper" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "2":
                            <li><a href="/paper/PayGuide" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "3":
                            <li><a href="/paper/CreditGuarantee" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;

                            case "4":
                            <li><a href="/paper/ToolDownload" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;

                            case "5":
                            <li><a href="/paper/TemplateDownload" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "6":
                            <li><a href="/paper/About" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                        }
                    }
                    @*<li><a href="/paper" target="_self" title="首页">首页</a></li>
                        <li><a href="/paper/PayGuide" target="_self" title="购买指南">购买指南</a></li>
                        <li><a href="/paper/CreditGuarantee" target="_self" title="信誉保证">信誉保证</a></li>
                        <li><a href="/paper/ToolDownload" target="_self" title="开发工具下载">开发工具下载</a></li>
                        <li><a href="/paper/TemplateDownload" target="_self" title="毕设模板下载">毕设模板下载</a></li>
                        <li><a href="/paper/About" target="_self" title="关于我们">关于我们</a></li>*@
                </ul>

            </div>

            <div class="nav-list top-user">
                <ul>
                    <li>
                        <a href="javascript:;" class="btn-open-login">登录</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn-open-register">注册</a>
                    </li>
                </ul>
            </div>


            <div class="user-log-info">Hi! <span style="margin:0 10px;">@log</span><a href="/login/logout" style="text-decoration: underline;">退出</a></div>

            <div class="top-search">
                <form class="sform" method="get" action="/Paper/SearchList">
                    <input id="search_ipt" type="text" name='key' placeholder="" />
                    <button id="search_btn" type="submit"><i class="iconfont">&#xe627;</i></button>
                </form>
            </div>

        </div>

    </div>
    <div class="bg">
        <div class="container topad clearfix">
            <!--轮播图代码开始-->
            <div class="flexslider">
                <ul class="slides">
                    @foreach (var item in ViewBag.ImageModel)
                    {
                        if (item.ImagePosition == "0")
                        {
                            <li>
                                <a href="#" target="_blank">
                                    <img class="thumbs" src="@Url.Content("~/ImageManage/" + item.ImageURL)" style="width:1180px;height:400px" alt="@item.ImageName" />
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--轮播图代码结束-->
    <div class="bg  bg-gray">
        <div class="container">
            <div class="cont-box">
                <ul class="clearfix">
                    @foreach (var item in Model.menuModelList.Where(a => a.Type == 1).Take(8))
                    {
                        <li>
                            <a href="/paper/List?type=@item.Id">
                                <img class="thumbs" src="@Url.Content("~/Menu/" + item.ChildImageURL)" width="60" height="60" />
                                <h2>@item.MenuName</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                    }

                    @*<li>
                            <a href="/paper/List?type=1">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/asp-log.png" width="60" height="60" />
                                <h2>asp作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=2">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/jsp-log.png" width="60" height="60" />
                                <h2>jsp/java作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=3">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/asp.net-log.png" width="60" height="60" />
                                <h2>asp.net/c#作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=4">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/php-log.png" width="60" height="60" />
                                <h2>php作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=5">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/vc-log.png" width="60" height="60" />
                                <h2>vc++作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=6">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/Android-log.png" width="60" height="60" />
                                <h2>安卓作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=7">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/ios-log.png" width="60" height="60" />
                                <h2>ios作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>
                        <li>
                            <a href="/paper/List?type=8">
                                <img class="thumbs" src="~/Content/themes/Paper/css/images/game-log.png" width="60" height="60" />
                                <h2>游戏作品</h2>
                                <p>&nbsp;</p>
                            </a>
                        </li>*@
                </ul>
            </div>
        </div>
    </div>


    <div class="bg">
        <div class="container">
            <div class="active-box">
                <ul class="clearfix">
                    @foreach (var item in @Model.otherPageList)
                    {
                        <li>
                            <a href="@item.Url">
                                <img class="thumbs" src="@Url.Content("~/OtherData/" + item.ImgFile)" width="280" height="180" alt="@item.Name" />
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="bg bg-gray" style="min-height: 1230px;">
        <div class="container">
            <div class="clearfix">
                <div class="main-box post-list fl">
                    <div class="cont-title">
                        <h3>作品分类</h3>
                    </div>
                    <ul class="clearfix">
                        @foreach (var items in Model.menuModelList.Where(a => a.Type == 1).Take(8))
                        {
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=@items.Id">
                                        <div class="extend">@items.MenuName</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == items.Id)
                                            {
                                                countOne += 1;
                                                if (countOne <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countOne 作品</span>
                                    <a href="/paper/List?type=@items.Id">更多作品</a>
                                </div>
                            </li>

                        }



                        @*<li>
                                <div class="cover">
                                    <a href="/paper/List?type=1">
                                        <div class="extend">asp作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 1)
                                            {
                                                countOne += 1;
                                                if (countOne <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countOne 作品</span>
                                    <a href="/paper/List?type=1">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=2">
                                        <div class="extend">jsp/java作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">

                                        @foreach (var item in Model.allTypeList)
                                        {

                                            if (item.Type == 2)
                                            {
                                                countTwo += 1;
                                                if (countTwo <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>}
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countTwo 作品</span>
                                    <a href="/paper/List?type=2">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=3">
                                        <div class="extend">asp.net/c#作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 3)
                                            {
                                                countThree += 1;
                                                if (countThree <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li> }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countThree 作品</span>
                                    <a href="/paper/List?type=3">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=4">
                                        <div class="extend">php作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 4)
                                            {
                                                countFour += 1;
                                                if (countFour <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>}
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countFour 作品</span>
                                    <a href="/paper/List?type=4">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=5">
                                        <div class="extend">vc++作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 5)
                                            {
                                                countFive += 1;
                                                if (countFive <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>}
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countFive 作品</span>
                                    <a href="/paper/List?type=5">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=6">
                                        <div class="extend">安卓作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 6)
                                            {
                                                countSix += 1;
                                                if (countSix <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>}
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countSix 作品</span>
                                    <a href="/paper/List?type=6">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=7">
                                        <div class="extend">ios作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 7)
                                            {
                                                countSeven += 1;
                                                if (countSeven <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>}
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countSeven 作品</span>
                                    <a href="/paper/List?type=7">更多作品</a>
                                </div>
                            </li>
                            <li>
                                <div class="cover">
                                    <a href="/paper/List?type=8">
                                        <div class="extend">游戏作品</div>
                                    </a>
                                </div>
                                <div class="extend">
                                    <ul class="paper-type">
                                        @foreach (var item in Model.allTypeList)
                                        {
                                            if (item.Type == 8)
                                            {
                                                countEight += 1;
                                                if (countEight <= 10)
                                                {
                                                    <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>}
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="data">
                                    <span><i class="iconfont">&#xe60d;</i>@countEight 作品</span>
                                    <a href="/paper/List?type=8">更多作品</a>
                                </div>
                            </li>*@
                    </ul>
                </div>
                <div class="job-task fr">
                    <div class="cont-title">
                        <h3>最新作品</h3>
                    </div>
                    <div class="job-task-list">
                        <ul class="job-task-list-img">
                            <li>
                                @foreach (var item in ViewBag.ImageModel)
                                {
                                    if (item.ImagePosition == "1")
                                    {
                                        <img class="thumbs" src="@Url.Content("~/ImageManage/" + item.ImageURL)" style="width:280px; height:155px" alt="@item.ImageName">
                                    }
                                }
                                <p>
                                    最新作品推荐
                                </p>
                            </li>
                        </ul>
                        <ul>
                            @foreach (var item in Model.newList)
                            {
                                <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="cont-title">
                        <h3>热点作品</h3>
                    </div>
                    <div class="job-task-list">
                        <ul class="job-task-list-img">
                            <li>
                                @foreach (var item in ViewBag.ImageModel)
                                {
                                    if (item.ImagePosition == "2")
                                    {
                                        <img class="thumbs" src="@Url.Content("~/ImageManage/" + item.ImageURL)" style="width:280px; height:155px" alt="@item.ImageName">
                                    }
                                }
                                <p>
                                    作品随机推荐
                                </p>
                            </li>
                        </ul>
                        <ul>
                            @foreach (var item in Model.randomList)
                            {
                                <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <!--社区热列表结束-->
        </div>
    </div>
    <!--社区推荐结束-->
    <div class="bg">
        <div class="container" style="padding-top: 20px;">
            <div class="cont-title">
                <h3>合作企业</h3>

            </div>
            <div class="link-box">
                @foreach (var item in Model.footLinkList)
                {
                    <a href="@item.SiteURL" title="@item.Name" target="_blank">
                        <img class="thumbs" src="@Url.Content("~/FootLink/" + item.ImageURL)" width="180" height="90" alt="item.Name" />
                    </a>

                }
            </div>
        </div>
    </div>

    <!--页脚开始-->
    <div class="footer">
        <div class="waper">
            <div class="footerwaper clearfix">
                <div class="footer-info">
                    <p>Copyright&#169; 2008-2016 WWW.PAPER51.COM. 论文无忧网 版权所有</p>
                    <p>
                        本站提供的计算机毕业论文范文|计算机毕业论文设计|计算机毕业设计及其他专业毕业论文仅供学习参考使用
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--页脚结束-->
    <!--tip菜单开始-->
    <div class="bg menu-bg" style="display:none">
        <div class="container">
            <div class="clearfix">
                <ul class="menu-bar-fixd">
                    @foreach (var item in Model.menuModelList.Where(a => a.Type == 1).Take(8))
                    {
                        <li><a href="/paper/List?type=@item.Id">@item.MenuName</a></li>
                    }

                    @*<li><a href="/paper/List?type=1">asp作品</a></li>
                    <li><a href="/paper/List?type=2">jsp/java作品</a></li>
                    <li><a href="/paper/List?type=3">asp.net/c#作品</a></li>
                    <li><a href="/paper/List?type=4">php作品</a></li>
                    <li><a href="/paper/List?type=5">vc++作品</a></li>
                    <li><a href="/paper/List?type=6">安卓作品</a></li>
                    <li><a href="/paper/List?type=7">ios作品</a></li>
                    <li><a href="/paper/List?type=8">游戏作品</a></li>*@
                </ul>
            </div>
        </div>
    </div>
    <!--tip菜单结束-->
    <!--注册popup开始-->
    <div id="log-popup" class="modal" style="z-index: 2005; background: rgba(0, 0, 0, 0.4); display: none">
        <div class="modal-dialog" style="width: 400px; top: 30%; cursor: default; display: none">
            <div class="loading-pop">
                <img style="position: relative;top: 41%;" src="/Content/themes/Paper/css/images/loading.gif">
            </div>
            <a class="btn-close"><i class="iconfont"></i></a>
            <div class="inbox">
                <div class="modal-title">
                    <h1>
                        <span class="login">用户登录</span>
                        <span class="register">注册</span>
                    </h1>
                </div>



                <div class="socialwrapper">
                    <div id="login_content" class="modal-content">
                        <div class="login-box ">
                            <div class="form-box">
                                <form name="login" id="login_fom" autocomplete="off" novalidate="novalidate" method="post">
                                    <dl>
                                        <dt>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</dt>
                                        <dd>
                                            <input id="login_mail" type="text" class="ipt" name="email" placeholder="邮箱地址" value="">
                                            <label class="reg-error mail-login-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>用户密码</dt>
                                        <dd>
                                            <input id="login_pwd" type="password" class="ipt" name="password" placeholder="请输入登录密码">
                                            <label class="reg-error pwd-login-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <button id="login_btn" type="button" class="btn-blue">登录</button>
                                            @* <a href="javascript:;" class="forget-pwd">忘记密码？点击找回</a>*@
                                            <label class="reg-error back-error"></label>
                                        </dd>
                                    </dl>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="reg_content" class="modal-content">

                        <div class="login-box ">
                            <div class="form-box">
                                <form id="register_fom" method="post" action="/Login/UserRegist">
                                    <dl>
                                        <dt>用 户 名</dt>
                                        <dd>
                                            <input id="reg_name" name="name" type="text" placeholder="请输入用户名" maxlength="8" autocomplete="off">
                                            <label class="reg-error name-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>用户密码</dt>
                                        <dd>

                                            <input id="password" name="Onepassword" type="password" placeholder="请输入登录密码" maxlength="12" autocomplete="off">
                                            <label class="reg-error password-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>确认密码</dt>
                                        <dd>
                                            <input id="reg_password" name="password" type="password" placeholder="请再次输入登录密码" maxlength="12" autocomplete="off">
                                            <label class="reg-error reg-password-error"></label>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>注册邮箱</dt>
                                        <dd>
                                            <input id="reg_mail" name="email" type="email" placeholder="请输入邮箱" autocomplete="off">
                                            <label class="reg-error mail-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <button id="reg_btn" type="button">注册</button>
                                            <label class="reg-error back-error"></label>
                                        </dd>
                                    </dl>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--注册popup结束-->



    <div class="QQ_S1" style="display: block;">
        <div class="Q_top1"> <span></span>&nbsp;</div>
        <div class="Q_botm1">
            <div class="Q_pic1">
                <div class="Q_pic1_hide"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=14000123&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank"><span class="hide_pic3"></span>QQ交谈</a></div>
            </div>
            <div class="Q_sign1">
                <div class="Q_sign1_hide" onclick="backToTop();"><a href="javascript:void(0)">返回顶部</a></div>
            </div>
        </div>
    </div>




</body>
</html>
