@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>论文下载</title>
    <link href="~/Content/themes/Paper/css/paper01.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/paper.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/paper-main.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/qqfixd.css" rel="stylesheet" />


    <script src="~/Content/themes/Paper/js/jquery.min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.flip.min.js"></script>
    <script type="text/javascript" src="~/Content/themes/Paper/js/jquery.twbsPagination.min.js"></script>
    <style>
         .socialwrapper .modal-content {
            padding: 10px 20px 20px 20px;
            background-color: #f9f9f9;
            border: 0;
            border-radius: 0;
            box-shadow: 0 0 0;
        }

        .slides li {
            height: auto;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
        }

        div.demo {
            overflow: auto;
        }

        .box {
            width: 300px;
            min-height: 300px;
            margin: 30px;
            display: inline-block;
            background: #fff;
            border: 1px solid #ccc;
            position: relative;
        }

            .box p {
                margin: 30px;
                color: #aaa;
                outline: none;
            }
    </style>
    <!--[if lt IE 9]>
        <script type="text/javascript">
            alert('系统检测到您使用的浏览器为IE浏览器，并且版本过低，本站已经不再支持IE8.0及以下版本的浏览器。请您使用其其它浏览器，本站建议您使用的浏览器有：360极速浏览器、谷歌浏览器、火狐浏览器等');
        </script>
    <![endif]-->
</head>
<body>
    <div class="header">
        <div class="nav clearfix">
            <a class="logo" href="#" target="_blank">
                <img src="~/Content/themes/Paper/css/images/logo.png" height="70" alt="论文下载" />
            </a>
            <div class="nav-list">
                <ul>
                    @foreach (var item in Model.menuModelList.Where(a => a.Type == 0).Take(6))
                    {

                        switch (item.OrderIndex.ToString())
                        {
                            case "1":
                                <li><a href="/paper" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "2":
                            <li><a href="/paper/PayGuide" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "3":
                            <li><a href="/paper/CreditGuarantee" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;

                            case "4":
                            <li><a href="/paper/ToolDownload" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;

                            case "5":
                            <li><a href="/paper/TemplateDownload" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "6":
                            <li><a href="/paper/About" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                        }
                    }
                </ul>
            </div>
            <div class="nav-list top-user">
                <ul>
                    <li>
                        <a href="javascript:;" class="btn-open-login">登录</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn-open-register">注册</a>
                    </li>
                </ul>
            </div>
            <div class="top-search">
                <form class="sform" method="get" action="/Search/Result">
                    <input id="search_ipt" type="text" name='k' placeholder="" />
                    <button type="button"><i class="iconfont">&#xe627;</i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            <div class="clearfix">
                <img src="~/Content/themes/Paper/css/images/sub-bar.jpg" width="100%" height="150px" />
            </div>
        </div>
    </div>

    <div class="bg menu-bg">
        <div class="container">
            <div class="clearfix">
                <ul class="menu-bar-fixd">
                    <li><a class="active">asp作品</a></li>
                    <li><a>jsp/java作品</a></li>
                    <li><a>asp.net/c#作品</a></li>
                    <li><a>php作品</a></li>
                    <li><a>vc++作品</a></li>
                    <li><a>安卓作品</a></li>
                    <li><a>ios作品</a></li>
                    <li><a>游戏作品</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg bg-gray">
        <div class="container">
            <div class="clearfix">
                <div class="paper-left-list box3">
                    <div class="cont-title dtl-list-title">
                        <h3>随机作品</h3>
                    </div>
                    <div class="job-task-list dtl-list">
                        <ul>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                        </ul>
                    </div>
                    <div class="dtl-dashed">&nbsp;</div>
                    <div class="cont-title dtl-list-title">
                        <h3>热点推荐</h3>
                    </div>
                    <div class="job-task-list dtl-list">
                        <ul>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                            <li><a href="www.baidu.com"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="paper-detail box3">
                    <ul class="paper-list-dtl">
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a><p><span class="tip-new">new</span></p></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a><p><span class="tip-new">new</span></p></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a><p><span class="tip-new">new</span></p></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a><p><span class="tip-new">new</span></p></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                        <li><a href="www.baidu.com"><span class="list-title-span"><font class="date-font">2015-01-10</font>基于ASP的在线测验考试系统（13原创）</span><span class="badge-pat">购买数<span class="badge">14</span>阅读数<span class="badge">100</span></span></a></li>
                    </ul>
                    <nav style="text-align: center">
                        <ul id="pagination-demo" class="pagination-sm"></ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>
    <div class="bg">
        <div class="container" style="padding-top: 20px;">
            <div class="cont-title">
                <h3>合作企业</h3>

            </div>
            <div class="link-box">
                <a href="#" title="" target="_blank">
                    <img class="thumbs" src="~/Content/themes/Paper/css/images/show2.jpg" width="180" height="90" alt="" />
                </a>
                <a href="#" title="" target="_blank">
                    <img class="thumbs" src="~/Content/themes/Paper/css/images/show2.jpg" width="180" height="90" alt="" />
                </a>
                <a href="#" title="" target="_blank">
                    <img class="thumbs" src="~/Content/themes/Paper/css/images/show2.jpg" width="180" height="90" alt="" />
                </a>
                <a href="#" title="" target="_blank">
                    <img class="thumbs" src="~/Content/themes/Paper/css/images/show2.jpg" width="180" height="90" alt="" />
                </a>
                <a href="#" title="站酷" target="_blank">
                    <img class="thumbs" src="~/Content/themes/Paper/css/images/show2.jpg" width="180" height="90" alt="" />
                </a>
                <a href="#" title="" target="_blank">
                    <img class="thumbs" src="~/Content/themes/Paper/css/images/show2.jpg" width="180" height="90" alt="" />
                </a>
            </div>
        </div>
    </div>

    <!--页脚开始-->
    <div class="footer">
        <div class="waper">
            <div class="footerwaper clearfix">
                <div class="footer-info">
                    <p>Copyright&#169; 2008-2016 WWW.PAPER51.COM. 论文无忧网 版权所有</p>
                    <p>
                        本站提供的计算机毕业论文范文|计算机毕业论文设计|计算机毕业设计及其他专业毕业论文仅供学习参考使用
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--页脚结束-->
    <!--注册popup开始-->
    <div id="log-popup" class="modal" style="z-index: 2005; background: rgba(0, 0, 0, 0.4); display: none">
        <div class="modal-dialog" style="width: 400px; top: 30%; cursor: default; display: none">
            <a class="btn-close"><i class="iconfont"></i></a><div class="inbox">
                <div class="modal-title">
                    <h1>
                        <span class="login">用户登录</span>
                        <span class="register">注册</span>
                    </h1>
                </div>
                <div class="socialwrapper">
                    <div id="login_content" class="modal-content">
                        <div class="login-box ">
                            <div class="form-box">
                                <form name="login" style="" autocomplete="off" novalidate="novalidate">
                                    <dl>
                                        <dt>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</dt>
                                        <dd>
                                            <input type="text" class="ipt" name="username" placeholder="邮箱/手机号码" value="">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>用户密码</dt>
                                        <dd>
                                            <input type="password" class="ipt" name="password" placeholder="请输入登录密码">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <button type="submit" class="btn-blue">登录</button>
                                            <a href="javascript:;" class="forget-pwd">忘记密码？点击找回</a>
                                        </dd>
                                    </dl>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="reg_content" class="modal-content">
                        <div class="login-box ">
                            <div class="form-box">
                                <form id="register_fom" method="post" action="/Login/UserRegist">
                                    <dl>
                                        <dt>用 户 名</dt>
                                        <dd>
                                            <input id="reg_name" name="name" type="text" placeholder="请输入用户名" maxlength="8" autocomplete="off">
                                            <label class="reg-error name-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>用户密码</dt>
                                        <dd>

                                            <input id="password" name="Onepassword" type="password" placeholder="请输入登录密码" maxlength="12" autocomplete="off">
                                            <label class="reg-error password-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>确认密码</dt>
                                        <dd>
                                            <input id="reg_password" name="password" type="password" placeholder="请再次输入登录密码" maxlength="12" autocomplete="off">
                                            <label class="reg-error reg-password-error"></label>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>注册邮箱</dt>
                                        <dd>
                                            <input id="reg_mail" name="email" type="email" placeholder="请输入邮箱" autocomplete="off">
                                            <label class="reg-error mail-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <button id="reg_btn" type="button">注册</button>
                                            <label class="reg-error back-error"></label>
                                        </dd>
                                    </dl>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--注册popup结束-->

    <div class="QQ_S1" style="display: block;">
        <div class="Q_top1"> <span></span>&nbsp;</div>
        <div class="Q_botm1">
            <div class="Q_pic1">
                <div class="Q_pic1_hide"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=14000123&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank"><span class="hide_pic3"></span>QQ交谈</a></div>
            </div>
            <div class="Q_sign1">
                <div class="Q_sign1_hide" onclick="backToTop();"><a href="javascript:void(0)">返回顶部</a></div>
            </div>
        </div>
    </div>


    <script>


        function backToTop() {
            var speed = 500;//滑动的速度
            $('body,html').animate({ scrollTop: 0 }, speed);
            return false;
        }

        function scrollFixed() {
            var obMenu = $(".menu-bg").offset().top;

            var win = $(window); //得到窗口对象
            var sc = $(document);//得到document文档对象。
            win.scroll(function () {
                if (sc.scrollTop() >= obMenu) {

                    $(".menu-bg").addClass("menufixed");
                } else {

                    $(".menu-bg").removeClass("menufixed");
                }
            })

        }

        $(function () {
            scrollFixed();
            $(".flexslider").flexslider();

            $("#search_ipt").focus(function () {
                $("#search_ipt").attr("placeholder", "请输入搜索内容");
                $("#search_ipt").css("width", "150px");
                $("#search_ipt").css("color", "#000");
            });
            $("#search_ipt").blur(function () {
                $("#search_ipt").attr("placeholder", "");
                $("#search_ipt").css("width", "65px");
                $("#search_ipt").css("color", "#fff");
            });

            $(".btn-open-login").off("click").on("click", function () {
                $(".modal-content").css("display", "none");
                $("#login_content.modal-content").css("display", "block");
                $(".modal h1 span").removeClass("on");
                $(".modal h1 span.login").addClass("on");
                var wid = ($(window).width() - 400) / 2;
                $(".modal").css("display", "block");
                $(".modal-dialog").css({
                    display: "block",
                    right: wid,
                    top: "0"
                }).animate({
                    top: "40%",

                }, function () {
                    $(".modal-dialog").animate({ top: "20%" });
                });
            });

            $(".btn-open-register").off("click").on("click", function () {
                $(".modal-content").css("display", "none");
                $("#reg_content.modal-content").css("display", "block");
                $(".modal h1 span").removeClass("on");
                $(".modal h1 span.register").addClass("on");
                var wid = ($(window).width() - 400) / 2;
                $(".modal").css("display", "block");
                $(".modal-dialog").css({
                    display: "block",
                    right: wid,
                    top: "60%"
                }).animate({
                    top: "10%",
                }, function () {
                    $(".modal-dialog").animate({ top: "20%" });
                });
            });


            $(".btn-close").off("click").on("click", function () {
                $(".modal").fadeOut(500);

            });

            $(".socialwrapper").flip({
                direction: 'lr',
                speed: 300,
                color: '#f9f9f9',
                onEnd: function () {
                    $(".inbox").find("#reg_content").toggle();
                    $(".inbox").find("#login_content").toggle();
                }
            });


            $(".modal-title .login").off("click").on("click", function () {

                if ($("#login_content.modal-content").css("display") == "block") {
                    return;
                }
                $(".modal h1 span").removeClass("on");
                $(".modal h1 span.login").addClass("on");
                $(".modal-content").css("display", "none");
                $("#reg_content.modal-content").css("display", "block");

                $(".socialwrapper").flip({
                    direction: 'lr',
                    speed: 300,
                    color: '#f9f9f9',
                    onEnd: function () {
                        $(".inbox").find("#reg_content").toggle();
                        $(".inbox").find("#login_content").toggle();
                    }
                });
            });

            $(".modal-title .register").off("click").on("click", function () {
                if ($("#reg_content.modal-content").css("display") == "block") {
                    return;
                }
                $(".modal h1 span").removeClass("on");
                $(".modal h1 span.register").addClass("on");
                $(".modal-content").css("display", "none");
                $("#login_content.modal-content").css("display", "block");

                $(".socialwrapper").flip({
                    direction: 'rl',
                    speed: 300,
                    color: '#f9f9f9',
                    onEnd: function () {
                        $(".inbox").find("#reg_content").toggle();
                        $(".inbox").find("#login_content").toggle();
                    }
                });
            });

            var count = 40;
            if (count > 0) {
                var pageCount = Math.ceil(count / 7);
                $('#pagination-demo').twbsPagination({
                    totalPages: pageCount,
                    visiblePages: 5,
                    first: "首页",
                    last: "末页",
                    prev: "上一页",
                    next: "下一页",
                    initiateStartPageClick: false,
                    onPageClick: function (event, page) {
                        // to do
                    }
                });
            }


        })
    </script>
</body>
</html>


