@model eUI.Model.ViewModel.PaperListViewModel

@{string log = ViewData["login"].ToString();}

<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>应届僧</title>
    <link href="~/Content/themes/Paper/css/paper01.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/paper.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/paper-main.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/flexslider.css" rel="stylesheet" />
    <link href="~/Content/themes/Paper/css/qqfixd.css" rel="stylesheet" />


    <script src="~/Content/themes/Paper/js/jquery.min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.flexslider-min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.flip.min.js"></script>
    <script type="text/javascript" src="~/Content/themes/Paper/js/jquery.twbsPagination.min.js"></script>
    <script src="~/Content/themes/Paper/js/jquery.core.js"></script>

    <style>
        .socialwrapper .modal-content {
            padding: 10px 20px 20px 20px;
            background-color: #f9f9f9;
            border: 0;
            border-radius: 0;
            box-shadow: 0 0 0;
        }

        .slides li {
            height: auto;
        }

        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
        }

        div.demo {
            overflow: auto;
        }

        .box {
            width: 300px;
            min-height: 300px;
            margin: 30px;
            display: inline-block;
            background: #fff;
            border: 1px solid #ccc;
            position: relative;
        }

            .box p {
                margin: 30px;
                color: #aaa;
                outline: none;
            }

        .selected {
            float: right;
            margin: 7px 37px;
            height: 35px;
            padding: 0 5px;
        }
        .paging-div {
        bottom:30px;
        }
    </style>
    <!--[if lt IE 9]>
        <script type="text/javascript">
            alert('系统检测到您使用的浏览器为IE浏览器，并且版本过低，本站已经不再支持IE8.0及以下版本的浏览器。请您使用其其它浏览器，本站建议您使用的浏览器有：360极速浏览器、谷歌浏览器、火狐浏览器等');
        </script>
    <![endif]-->
</head>
<body data-type="@ViewData["type"]" data-Tmptype="@ViewData["Tmptype"]"  data-website="@Url.Content("~/")" data-loguser="@log">
    <div class="header">
        <div class="nav clearfix">
            <a class="logo" href="/paper">
                @foreach (var item in ViewBag.ImageModel)
                {
                    if (item.ImagePosition == "4")
                    {
                        <img src="@Url.Content("~/ImageManage/" + item.ImageURL)" alt="@item.ImageName" style="width:220px;height:72px">
                    }
                }
            </a>
            <div class="nav-list">
                <ul>
                    @foreach (var item in Model.menuModelList.Where(a => a.Type == 0).Take(6))
                    {

                        switch (item.OrderIndex.ToString())
                        {
                            case "1":
                                <li><a href="/paper" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "2":
                            <li><a href="/paper/PayGuide" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "3":
                            <li><a href="/paper/CreditGuarantee" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;

                            case "4":
                            <li><a href="/paper/ToolDownload" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;

                            case "5":
                            <li><a href="/paper/TemplateDownload" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                            case "6":
                            <li><a href="/paper/About" target="_self" title="@item.MenuName">@item.MenuName</a></li>
                                break;
                        }
                    }
                </ul>
            </div>
            <div class="nav-list top-user">
                <ul>
                    <li>
                        <a href="javascript:;" class="btn-open-login">登录</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="btn-open-register">注册</a>
                    </li>
                </ul>
            </div>
            <div class="user-log-info">Hi! <span style="margin:0 10px;">@log</span><a href="/login/logout" style="text-decoration: underline;">退出</a></div>

            <div class="top-search">
                <form class="sform" method="get" action="/Paper/SearchList">
                    <input id="search_ipt" type="text" name='key' placeholder="" />
                    <input id="key_val" type="hidden" value="@ViewData["key"]" />
                    <button id="search_btn" type="submit"><i class="iconfont">&#xe627;</i></button>
                </form>
            </div>
        </div>
    </div>
    <div class="bg">
        <div class="container">
            <div class="clearfix">
                @foreach (var item in ViewBag.ImageModel)
                {
                    if (item.ImagePosition == "3")
                    {
                        <img src="@Url.Content("~/ImageManage/" + item.ImageURL)" style="width:100%;height:150px" alt="@item.ImageName" />
                    }
                }
            </div>
        </div>
    </div>

    <div class="bg menu-bg">
        <div class="container">
            <div class="clearfix">
                <ul class="menu-bar-fixd">
                    @foreach (var item in Model.menuModelList.Where(a => a.Type == 1).Take(8))
                    {
                        <li><a href="/paper/List?type=@item.Id">@item.MenuName</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="bg bg-gray">
        <div class="container">
            <div class="clearfix">
                <div class="paper-left-list box3">
                    <div class="cont-title dtl-list-title">
                        <h3>随机作品</h3>
                    </div>
                    <div class="job-task-list dtl-list">
                        <ul>
                            @foreach (var item in Model.randomList)
                            {
                                <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="dtl-dashed">&nbsp;</div>
                    <div class="cont-title dtl-list-title">
                        <h3>热点推荐</h3>
                    </div>
                    <div class="job-task-list dtl-list">
                        <ul>
                            @foreach (var item in Model.HotList)
                            {
                                <li><a href="/paper/Detail?id=@item.Id"><font class="date-font">@item.CreateDate.ToString("yyyy-MM-dd")</font>@item.Title</a></li>
                            }
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="paper-detail box3">
                    <ul class="tem-ul">
                        @foreach (var item in ViewData["selTmpType"] as SelectList)
                        {
                            <li><a data-temtype="@item.Value" href="@Url.Content("~/paper/TemplateDownload?flag=" + @item.Value)">@item.Text</a></li>
                        }

                    </ul>
                    <div class="search-div">
                        <form class="sform" method="get" action="/Paper/TemplateDownload">
                            <input class="search-input" type="text" name="key" placeholder="标题查询" /><button class="type-search">当前类别查询</button>
                            <input type="hidden" name="flag" value="@ViewData["Tmptype"]" />
                        </form>
                    </div>
                    @*@Html.DropDownList("selTmpType", ViewData["selTmpType"] as SelectList, new { @class = "selected", @onchange="SearchTemplateByType()"})*@

                    <div class="opuslist bd">
                        <ul class="clearfix detail-ul" data-count="@Model.paperTmpPage.total">

                            @foreach (var item in Model.paperTmpPage.rows)
                            {

                                <li style="height:350px">
                                    <div class="imgbox">

                                        <a title="@item.Title" href="/paper/TmpDetail?id=@item.Id&type=0">
                                            <img class="thumbs" src="@Url.Content("~/TemplateData/" + item.Picture)" width="232" height="186" alt="@item.Title" onerror="javascript:this.src='@Url.Content("~/TemImg/default.png")';">
                                        </a>
                                    </div>
                                    <div class="infobox">
                                        <p class="vtitle" style="height: 23px; -webkit-line-clamp: 1;">
                                            <a title="@item.Title" href="/paper/TmpDetail?id=@item.Id&type=0">
                                                @item.Title
                                            </a>
                                        </p>

                                        <p class="vtitle" style="height: 97px;font-size: 12px;font-weight: normal; -webkit-line-clamp: 6;">
                                            @item.Content
                                        </p>
                                        <div class="info clearfix">
                                            <span class="hpw_love">价格：</span>
                                            <span class="hpw_pl">免费</span>
                                        </div>
                                        <div class="userinfo">

                                            <span class="badge-pat">下载数<span class="badge">@item.DownloadNum</span></span>

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="paging-div">
                        <nav style="text-align: center;margin: 10px 0;margin-top:90px">
                            <ul id="pagination-demo" class="pagination-sm"></ul>
                        </nav>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="bg friend-div">
        <div class="container" style="padding-top: 20px;">
            <div class="cont-title">
                <h3>合作企业</h3>

            </div>
            <div class="link-box">
                @foreach (var item in Model.footLinkList)
                {
                    <a href="@item.SiteURL" title="@item.Name" target="_blank">
                        <img class="thumbs" src="@Url.Content("~/FootLink/" + item.ImageURL)" width="180" height="90" alt="item.Name" />
                    </a>

                }
            </div>
        </div>
    </div>

    <!--页脚开始-->
    <div class="footer">
        <div class="waper">
            <div class="footerwaper clearfix">
                <div class="footer-info">
                    <p style="font-weight: bold;">&#169; 2016-2017 www.yingjieseng.net应届僧 版权所有 吉ICP备12000072号-3</p>
                    <p>
                        本站提供的计算机毕业设计范文|计算机毕业设计文档|计算机毕业设计及其他专业毕业设计仅供学习参考使用
                    </p>
                    <p>服务地区: 深圳 郑州 福州 重庆 太原 广州 沈阳 大连 青岛 济南 成都 西安 杭州 武汉 上海 北京 长春等全国地区 </p>
                </div>
            </div>
        </div>
    </div>
    <!--页脚结束-->
    <!--注册popup开始-->
    <div id="log-popup" class="modal" style="z-index: 2005; background: rgba(0, 0, 0, 0.4); display: none">
        <div class="modal-dialog" style="width: 400px; top: 30%; cursor: default; display: none">
            <div class="loading-pop">
                <img style="position: relative;top: 41%;" src="/Content/themes/Paper/css/images/loading.gif">
            </div>
            <a class="btn-close"><i class="iconfont"></i></a>
            <div class="inbox">
                <div class="modal-title">
                    <h1>
                        <span class="login">用户登录</span>
                        <span class="register">注册</span>
                    </h1>
                </div>
                <div class="socialwrapper">
                    <div id="login_content" class="modal-content">
                        <div class="login-box ">
                            <div class="form-box">
                                <form name="login" id="login_fom" autocomplete="off" novalidate="novalidate" method="post">
                                    <dl>
                                        <dt>用 户 名</dt>
                                        <dd>
                                            <input id="login_mail" type="text" class="ipt" name="email" placeholder="用户名" value="">
                                            <label class="reg-error mail-login-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>用户密码</dt>
                                        <dd>
                                            <input id="login_pwd" type="password" class="ipt" name="password" placeholder="请输入登录密码">
                                            <label class="reg-error pwd-login-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <button id="login_btn" type="button" class="btn-blue">登录</button>
                                            @* <a href="javascript:;" class="forget-pwd">忘记密码？点击找回</a>*@
                                            <label class="reg-error back-error"></label>
                                        </dd>
                                    </dl>

                                </form>
                            </div>
                        </div>
                    </div>

                    <div id="reg_content" class="modal-content">

                        <div class="login-box ">
                            <div class="form-box">
                                <form id="register_fom" method="post" action="/Login/UserRegist">
                                    <dl>
                                        <dt>用 户 名</dt>
                                        <dd>
                                            <input id="reg_name" name="name" type="text" placeholder="请输入用户名" maxlength="8" autocomplete="off">
                                            <label class="reg-error name-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>用户密码</dt>
                                        <dd>

                                            <input id="password" name="Onepassword" type="password" placeholder="请输入登录密码" maxlength="12" autocomplete="off">
                                            <label class="reg-error password-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>确认密码</dt>
                                        <dd>
                                            <input id="reg_password" name="password" type="password" placeholder="请再次输入登录密码" maxlength="12" autocomplete="off">
                                            <label class="reg-error reg-password-error"></label>
                                        </dd>
                                    </dl>

                                    <dl>
                                        <dt>注册邮箱</dt>
                                        <dd>
                                            <input id="reg_mail" name="email" type="email" placeholder="请输入邮箱" autocomplete="off">
                                            <label class="reg-error mail-error"></label>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>&nbsp;</dt>
                                        <dd>
                                            <button id="reg_btn" type="button">注册</button>
                                            <label class="reg-error back-error"></label>
                                        </dd>
                                    </dl>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--注册popup结束-->

    <div class="QQ_S1" style="display: block;">
        <div class="Q_top1"> <span></span>&nbsp;</div>
        <div class="Q_botm1">
            <div class="Q_pic1">
                <div class="Q_pic1_hide"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=14000123&amp;site=qq&amp;menu=yes" rel="nofollow" target="_blank"><span class="hide_pic3"></span>QQ交谈</a></div>
            </div>
            <div class="Q_sign1">
                <div class="Q_sign1_hide" onclick="backToTop();"><a href="javascript:void(0)">返回顶部</a></div>
            </div>
        </div>
    </div>
    <script>


        var flag = "true";
        function Paging(pageNo) {
            var type = null;

            var flags = $("#selTmpType").val();
            var url = $("body").data("website") + "paper/TmpListPaging";
            if (flag == "true") {
                flag = "false";
                $.ajax({
                    url: url,
                    type: "POST",
                    dataType: "html",
                    cache: false,
                    headers: { "CaChe-Control": "no-cache" },
                    data: { pageNo: pageNo, type: type, flag: flags },
                    success: function (data) {
                        flag = "true";
                        $(".paper-detail ul.detail-ul").html(data);
                    },
                    error: function (e) { flag = "true"; }
                })
            }
        }

        var count = $(".paper-detail ul.detail-ul").data("count");

        if (count > 0) {
            var pageCount = Math.ceil(count / 6);
            $('#pagination-demo').twbsPagination({
                totalPages: pageCount,
                visiblePages: 5,
                first: "首页",
                last: "末页",
                prev: "上一页",
                next: "下一页",
                initiateStartPageClick: false,
                onPageClick: function (event, page) {
                    Paging(page);
                }
            });
        }
        $(function () {
            $("#selTmpType").val($("body").data("tmptype"));
        });
    </script>



</body>
</html>
